<div class="panel panel-default">
  <div class="panel-body">
  	<div class="thumbnail">
     <%= image_tag "affiche2.jpg" %>
    </div>
  	<ul class="list-group">
  		1 Meite Fatou, 33 ans, Ingénieur commercial</br> 
2 Olivier Pagesse, 33 ans, e-business/marketing</br> 
3 Chatteur Imen, 33 ans, employée </br>
4 Da Rocha Alexis, 27 ans </br>
5 Aït Abbas Nacera, 33ans, Hôtesse d'accueil</br> 
6 Kichou Mohammed, 33ans, Analyste logistique</br>
7 Azzaoui Sara, 21 ans, étudiante</br>
8 Lagier Dorian, 37 ans, enseignant-chorégraphe</br> 
9 Nsakala Tatiane, 28 ans, Agent commercial</br>
10 Mendy Nelson, 24 ans, Animateur</br>
11 Beddad Dahlia, 34 ans, infirmière </br>
12 Barbach Tarik, 30 ans, 26 ans, Gérant</br>  
13 Mbembel Mbongo Ekoto Carolle, 33 ans, Secretaire polyvalente</br>  
14 Sidibé Lalya, 22 ans, Basketteuse professionnelle </br>
15 Meïte Yancouba, 30 ans, Auto-entrepreneur </br>
16 Banaddi Hicham, 28 ans, Manipulateur en électroradiologie</br> 
17 Hamoum Katiha, 24 ans, Etudiante infirmière </br>
18 Magassa Alliandé, 33 ans, Cadre </br>
19 Clérici Melanie, 32 ans, Mère au foyer</br> 
20 Diakité Mahamadou, 31 ans, Gestionnaire des stocks</br>
21 Serra Audrey, 31 ans, Auxilliaire de puericulture </br>
22 Ollangue Hubert, 32ans, Employé </br>
23 Benouda Souad, 26 ans, Animatrice </br>
24 Issaadi Warren, 20 ans, Etudiant</br>
25 Benaddi Naoual, 26 ans, comptable </br>
26 Laffuteur Jean-Paul, 51 ans, cuisinier </br>
27 Diouf Monique, 34 ans, chargée de communication</br> 
28 Sylvère Josué, 24 ans, Animateur </br>
29 Sinna Valerie, 32 ans, Conseillère clientèle</br> 
30 Leuiller Cédric, 23 ans, Magasinier </br>
31 Akpe Marjoly 22 ans, Etudiante </br>
32  Diouf Dominique, 32 ans, Expert data réseaux telecom</br> 
33 Akpe Marjolaine 22 ans, Etudiante</br>
34.Rouchon Hervé, 33 ans, employé municipal</br>
35.Goussu Michelle, 57 ans</br>
36.Bédant Florian, 33 ans, Agent de piste</br> 
37.Nsakala Victoire, 18 ans, Etudiante </br>
38.Diakité Demba, 25 ans, Etudiant </br>
39.Bahi Souhila, 29 ans, Enseignant-Economiste</br>  
40.Galland Adrien, 26 ans, Ripeur</br>
41.Sissoko Sadjo, 23 ans, intervenante en petite enfance</br> 
42.Lagier Edwin, 32 ans, Dessinateur </br>
43.Ebwea Ekoto Corine, 35 ans, infirmière </br>
44.N’Diaye Oumar, Ingénieur télécommunications </br> 
45.Quist Falone, 28 ans, Juriste </br>

  	</ul>




<div class="row">
  <div class="col-sm-12 col-md-12"> 
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item">
          <%= image_tag 'Soutien.JPG' %>
        </div>
        <div class="item active">
          <%= image_tag 'Fg.JPG' %>
        </div>
        <div class="item">
          <%= image_tag 'fm.png' %>
        </div>
        <div class="item">
          <%= image_tag 'groupe2.JPG' %>
        </div>
        <div class="item">
          <%= image_tag 'event1.png' %>
        </div>  
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</div>


  </div>
</div>